extends layout

block content
  include mixins/pokemonCard
  div.container
    div.add-button-row
      a.button.save(href="/add") Add Card
  div.card-area
    each card in cards
      +pokemonCard(card)
