extends layout

block content
  include mixins/pokemonCard
  div.container
    form(action='/' method='get')
      div.form-input
        label(for='random') Random
        input(type='checkbox' name='random' id='random' checked=searchRandom)
      button.button.save(type='submit') Submit
  div.container
    div.add-button-row
      a.button.save(href="/add") Add Card
  div.card-area
    each card in cards
      +pokemonCard(card)
